<!DOCTYPE html>
<html page="home" style="opacity: 0;">

<head>
    <title></title>
</head>

<body>
    <div class="container">

        <!-- LOGIN -->
        <form id="loginForm" role="form">
            <h2>Login/Register</h2>

            <div class="form-group">
                <label for="txtEmail">Email address</label>
                <input type="email" class="form-control" id="txtEmail" placeholder="Enter email" name="email" />
            </div>
            <div class="form-group">
                <label for="txtPass">Password</label>
                <input type="password" class="form-control" id="txtPass" placeholder="Password" name="password" />
            </div>

            <button type="submit" class="btn waves-effect waves-light"> Welcome <i class="mdi-content-send right"></i>
            </button>
        </form>
        <!-- / LOGIN -->

        <!-- PROFILE -->
        <form id="profile" role="form">
            <h2>Profile</h2>

            <br />
            <div class="form-group">
                <label for="txtName">Name</label>
                <input type="text" class="form-control" id="txtName" placeholder="Name" name="name" />
            </div>
            <div class="form-group">
                <label for="ddlTitle">Who are you in the Family?</label>
                <select id="ddlTitle" name="Title" class="form-control">
                    <option>Father</option>
                    <option>Mother</option>
                    <option>Son</option>
                    <option>Daughter</option>
                    <option>Grandchild</option>
                </select>
            </div>
            <button type="submit" class="btn waves-effect waves-light">Create Chore List<i class="mdi-content-send right"></i>
            </button>
        </form>
        <!-- / PROFILE -->

        <!-- CHORELIST -->
        <div id="chore" class= "chore" role="form">
            <!-- chores go here -->

        </div>
        <!-- / CHORELIST -->

        <!-- / Chorelist-->
        <script type="text/template" id="chores-template">
    
            <div class="user">
                <p class= "unamet">{name}</p>
                <hr>
                <form id="createChoreForm">
                    <p>Add a new chore:</p>
                    <input type="text" name="description" placeholder="chore description">
                    <input type="text" name="assignedTo" placeholder="assign to...">
                    <button type="submit" class="btn waves-effect waves-light"> Add Chore<i class="mdi-content-send right"></i>
                    </button>
                </form>
                <ul class="chores">
                    <% _.forEach(chores, function(c) { %>
                        <br>
                        <li class="chored">
                            <strong>{c.assignedTo}</strong> : {c.description}
                            <hr>
                            <button modelId="{c.id}" class="Delete">Completed/Remove From List</button>
                        </li>
                        <br>
                        <% }); %>
                </ul>
            </div>
        </script>
    </div>

    <script type="text/javascript" src="./bower_components/Loader/loader.js" id="loaderjs" data-app="./js/app.js"></script>
</body>

</html>
