<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="./bower_components/normalize.css/normalize.css">
    <link rel="stylesheet" type="text/css" href="./bower_components/typeplate-starter-kit/css/typeplate.css">
    <title></title>
</head>

<body style="opacity: 0;">
    <div id="container" class="container">
        <!-- LOGIN -->
        <form id="loginForm" role="form">
            <h2>Login/Register</h2>

            <div class="form-group">
                <label for="txtEmail">Email address</label>
                <input type="email" class="form-control" id="txtEmail" placeholder="Enter email" name="email" />
            </div>
            <div class="form-group">
                <label for="txtPass">Password</label>
                <input type="password" class="form-control" id="txtPass" placeholder="Password" name="password" />
            </div>

            <button type="submit" class="btn btn-default btn-block">Login</button>
        </form>
        <!-- / LOGIN -->

        <!-- PROFILE -->
        <form id="profile" role="form">
            <h2>Profile</h2>

            <br />
            <div class="form-group">
                <label for="txtName">Name</label>
                <input type="text" class="form-control" id="txtName" placeholder="Name" name="name" />
            </div>
            <div class="form-group">
                <label for="ddlTitle">Who are you in the Family?</label>
                <select id="ddlTitle" name="Title" class="form-control">
                    <option>Father</option>
                    <option>Mother</option>
                    <option>Son</option>
                    <option>Daughter</option>
                    <option>Grandchild</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
        <!-- / PROFILE -->

        <!-- CHORELIST -->
        <div id="chore" role="form">
            <!-- chores go here -->
        </div>
        <!-- / CHORELIST -->

        <!-- / Chorelist-->
        <script type="text/template" id="chores-template">
            <h1>{name}</h1>
            <hr>
            <form id="createChoreForm">
                <p>Add a new chore:</p>
                <input type="text" name="description" placeholder="chore description">
                <input type="text" name="assignedTo" placeholder="assign to...">
                <button type="submit" > Submit </button>
            </form>
            <ul class="chores">
                <% _.forEach(chores, function(c) { %>
                    <br>
                    <li class="chore">
                        <strong>{c.assignedTo}</strong> : {c.description} <button modelId="{c.id}" class="Delete">Delete</button>
                    </li>
                    <br>
                <% }); %>
            </ul>
        </script>
    </div>

    <script type="text/javascript" src="./bower_components/Loader/loader.js" id="loaderjs" data-app="./js/app.js"></script>
</body>

</html>
