<form class="edit-user-form">
      <legend><%= chore ? 'Edit' : 'New' %> Chore </legend>
        <label>First Name</label>
        <input name="firstname" type="text" value="<%= chore ? chore.get('firstname') : '' %>">
        <label>Last Name</label>
        <input name="lastname" type="text" value="<%= chore ? chore.get('lastname') : '' %>">
        <label>Age</label>
        <input name="age" type="text" value="<%= chore ? chore.get('age') : '' %>">
        <hr />
       <button type="submit" class="btn"> <%= chore ? 'Update' : 'Create' %></button>
       <% if(chore) { %>
        <input type="hidden" name="id" value="<%= chore.id %>" />
       <button data-user-id="<%= chore.id %>" class="btn btn-danger delete">Delete</button>
       <% }; %>
    </form>